@import url("../fonts/HelveticaNow/stylesheet.css");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: #e6e7f2;
  font-family: "Helvetica Now Display";
  font-size: 12px;
}

body {
  background: #36395B;
  margin: 0;
  min-width: 1100px;
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 170px;
  z-index: 100;
  padding: 0;
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  height: 100vh;
  background: #262845;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3), 0px 0px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3), 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-radius: 0px 9px 9px 0px;
}

.side-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.side-bar li {
  display: block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: .9rem 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.side-bar a {
  color: white;
  text-decoration: none;
  font-family: "Helvetica Now Display", Helvetica;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
}

.side-bar img {
  position: relative;
  padding: 0 17px 0 0;
}

.side-bar svg {
  position: relative;
  margin: 0 17px 0 0;
  fill: #E6E7F2;
}

.nav-links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-links li {
  margin: auto;
}

.nav-links li:hover {
  position: static;
  background: #E6E7F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links li:hover a {
  color: #262845;
  font-weight: 600;
}

.nav-links li:hover svg {
  fill: #262845;
}

.company-header {
  margin: 0 0 20px 0;
}

.company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media (min-height: 600px) {
  .company-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  padding-top: 1rem !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.main-content {
  height: 100vw;
  margin-left: 170px;
}

.header {
  position: relative;
  margin: 0px;
  padding: 30px 10px 20px 10px;
}

.header a:active {
  color: #50d1e2;
}

.header-link {
  background: none;
  border: none;
  text-decoration: none;
  color: #878bc0;
  margin: 10px;
}

.header-link a {
  font-family: "Helvetica Now Display", Helvetica;
}

.current-page {
  color: #50d1e2;
  text-decoration: underline;
}

.title-tab {
  margin: 5px 30px;
}

.title-name {
  padding: 6px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #484c84;
  font-family: "Helvetica Now Display", Helvetica;
  font-size: 12px;
  color: white;
  width: 120px;
  height: 16px;
  left: 244px;
  top: 87px;
  border-radius: 4px 4px 0px 0px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  background: #4dddcc;
  margin-left: 20px;
}

.add-button {
  display: inline-block;
  margin: 0 20px;
}

.add-button img {
  height: 10px;
}

hr {
  margin: 0 20px;
}

.summary-box {
  position: relative;
  margin: 15px;
}

.box-header {
  position: relative;
  background-color: #484c84;
  color: white;
  font-family: "Helvetica Now Display", Helvetica;
  font-size: 12px;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 10px 0px 10px 10px;
  border: 1px solid white;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-header img {
  position: relative;
  right: 10px;
}

.scroll-area {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #262845;
  border: 1px solid white;
  border-top: none;
  -webkit-box-shadow: 0px 4px 12px rgba(9, 10, 16, 0.25);
          box-shadow: 0px 4px 12px rgba(9, 10, 16, 0.25);
  border-radius: 0 0 4px 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-margin: 10px;
  resize: vertical;
}

.scroll-area::-webkit-scrollbar {
  background: #262845;
  border: solid 1px #262845;
  width: 12px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #e6e7f2;
  border: solid #262845;
  width: 12px;
}

.flow-chart {
  height: 250px;
}

.flow-header {
  position: relative;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
}

.hardware-selection input {
  position: relative;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  background: #36395B;
  border-radius: 15px;
  border-style: none;
  margin: 10px;
  padding: 2px 5px;
  outline: none;
}

.hardware-selection button {
  position: absolute;
  background: none;
  border-style: none;
  outline: none;
  margin: 11px;
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tag-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  height: 74px;
  background: #262845;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-input-box {
  position: relative;
  width: 97%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 65%;
  background: #E6E7F2;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0 auto;
}

.tag-search-container input {
  border: 1px solid #262845;
  border-radius: 4px;
  background: none;
  color: black;
  margin: 5px;
  outline: none;
}

.tag-search-container input input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}

.tag p {
  position: relative;
  background: #d7d8ea;
  color: #36395b;
  border-radius: 4px 0 0 4px;
  padding: 3px 5px;
  margin: 0;
}

.delete-tag {
  position: relative;
  display: inline-block;
  background-color: #262845;
  border-radius: 0 4px 4px 0;
  padding: 3px 5px;
  margin: 0;
}

.container {
  position: relative;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experiment-details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  background: #262845;
  font-family: "Helvetica Now Display";
  font-size: 12px;
  padding: 6px 15px;
  border: 1px solid #E6E7F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 12px rgba(9, 10, 16, 0.25);
          box-shadow: 0px 4px 12px rgba(9, 10, 16, 0.25);
  border-radius: 4px;
}

.time {
  position: relative;
  width: 25%;
  background: #36395B;
  border-radius: 4px;
  color: #878bc0;
  padding: 5px 10px 5px 5px;
  white-space: nowrap;
}

.time span {
  padding: 10px;
  margin-right: 10px;
}

.percentage-bar {
  position: relative;
  width: 35%;
  background-color: #a1a4ce;
  margin: 0 60px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.percentage-complete {
  position: relative;
  width: 10%;
  height: 100%;
  background-color: #4DDDCC;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percentage-complete p {
  margin: 0 auto;
  color: #262845;
}

.live-status {
  position: relative;
  width: 10%;
  background: #bcbedc;
  border-radius: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.live-status p {
  margin: 0;
  padding: 4px;
  color: #262845;
}

.experiment-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica Now Display";
  font-size: 12px;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-controls {
  padding: 0 10px;
  color: #e6e7f2;
  text-decoration: underline;
  white-space: nowrap;
}

.start-button {
  padding: 5px;
  background-color: #e6e7f2;
  color: #484c84;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.graphs-section {
  height: 400px;
}

.live {
  height: 150px;
}

.saved {
  height: 300px;
}

.live-experiments .circle {
  background: white;
}

.log-column-headers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  margin: 0 auto 1px auto;
}

.log-column-headers p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.3rem 0.5rem;
  color: #878bc0;
}

.live-experiments hr, .saved-experiments hr {
  border: 1px solid rgba(135, 139, 192, 0.5);
}

.status-header {
  position: relative;
  width: 35%;
}

.date-header {
  position: relative;
  width: 12%;
  margin-right: 0px;
}

.log {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #36395B;
  margin: 0 auto 1px auto;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
}

.log p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-left: 1px solid #262845;
  margin: 0;
  padding: 0.3rem 0.5rem;
  font-weight: 300;
}

.log a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 5px;
  margin: 0 10px 0 0;
}

.line-spacing {
  padding-top: 10px;
}

.status-bar {
  width: 15%;
  background-color: #a1a4ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #262845;
  margin: 0;
  vertical-align: center;
  margin: 0.25rem 1rem;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.percentage-status {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #4DDDCC;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percentage-status p {
  font-size: 10px;
  font-weight: 500;
  line-height: 8px;
  border-left: none;
  padding: 0;
  margin: auto;
  color: #262845;
}

.status-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19%;
  border-left: 1px solid #262845;
  border-right: 1px solid #262845;
}

.status-complete p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-left: none;
}

.button-container {
  width: 96%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pop-up-overlay {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
}

.absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
}

.controls-container {
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  top: 5%;
  left: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #262845;
  border-radius: 6px;
  padding: 10px;
  font-weight: 300;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.controls-container p {
  display: inline-block;
  margin: 0px;
  padding: 2px;
}

.controls-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5px;
}

.controls-container select {
  color: white;
  background-color: #36395B;
  width: 120px;
  border-radius: 4px;
  border: none;
  padding: 2px 2px;
  margin: 5px 5px 15px 5px;
  font-weight: 300;
}

.row2 {
  padding: 0 2px;
  margin: 5px 5px 15px 5px;
}

.row2 input {
  background-color: #36395B;
  border: none;
  border-radius: 4px;
  width: 50px;
  padding: 2px 2px;
  margin-left: 15px;
}

.row2 input:focus {
  outline: none;
}

.row3 {
  padding: 0 2px;
  margin: 5px 5px 15px 5px;
}

.table {
  border: 1px solid #A1A4CE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 0 2px;
  margin: 5px 5px 15px 5px;
}

.table thead {
  background-color: #262845;
}

.table p {
  margin: 5px 0;
}

.table th {
  font-weight: 300;
  padding: 3px 10px;
}

.table tbody {
  background-color: #424569;
}

.table input {
  width: 70%;
  background: #E6E7F2;
  border-radius: 4px;
  border: none;
  margin: 1px 5px;
  padding: 3px;
  color: #262845;
}

.table input:focus {
  outline: none;
}

.reset-button {
  color: #262845;
  background-color: #E6E7F2;
  border-radius: 4px;
  border: none;
  padding: 2px 8px;
}

.final-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 25px 0;
}

.send-controls {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.send-controls button {
  background: #E6E7F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.send-controls p {
  color: #262845;
  padding: 5px 0;
}

.stop-sampling {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
}

.stop-sampling button {
  background: #E6E7F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.stop-sampling p {
  color: #B92323;
  padding: 5px 0;
}
/*# sourceMappingURL=style.css.map */